{
  "root": true,
  "extends": ["@conten2/eslint-config-nuxt-typescript"],
  "parserOptions": {
    "project": "./tsconfig.json",
    "extraFileExtensions": [".vue"]
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/consistent-type-definitions": [1, "interface"],
    "@typescript-eslint/no-inferrable-types": 0,
    "promise/always-return": 0,
    "vue/no-parsing-error": 1
  }
}
