{
  "root": true,
  "parser": "vue-eslint-parser",
  "extends": [
    "@conten2/eslint-config",
    "plugin:import/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/recommended",
    "prettier/@typescript-eslint",
    "prettier/vue"
  ],
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [["~", "./src"], ["@", "./src"], ["~~", "."], ["@@", "."]],
        "extensions": [".vue", ".ts", ".js", ".json"]
      }
    }
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/consistent-type-definitions": [1, "interface"],
    "@typescript-eslint/no-inferrable-types": 0,

    "promise/always-return": 0
  }
}
