{
  "package.json": [
    "prettier-package-json --write",
    "prettier --write",
    "git add"
  ],
  "*.html": ["prettier --write", "git add"],
  "*.{js,ts}": ["eslint --fix", "prettier --write", "git add"],
  "*.{css,scss}": ["stylelint --fix", "prettier --write", "git add"],
  "*.vue": ["eslint --fix", "stylelint --fix", "prettier --write", "git add"],
  "*.md": ["eslint --fix", "prettier --write", "git add"]
}
