{
	"extends": ["stylelint-config-recommended-scss", "stylelint-config-prettier"],
	"rules": {
		"no-descending-specificity": null,
		"no-duplicate-selectors": null,
		"selector-pseudo-element-colon-notation": "double"
	}
}