.default-enter-active,
.default-leave-active {
	transition: opacity 1s, transform 1s;
}

.default-enter {
	opacity: 0;
	transform: translateX(10%);
}

.default-leave-active {
	opacity: 0;
	transform: translateX(10%);
}
